<div class="row">
    <div class="col s6 offset-s3">
        <div class="card">
            <div class="card-image">
                <img src="/assets/img/403.png" style="height: 300px;width: 300px;">
            </div>
            <div class="card-content">
                <span style="color: aqua;" class="card-title">
                    ACCESS DENIED
                    <p>You are not allowed to access this resource</p>
                </span>
            </div>
        </div>
    </div>
</div>